{{#addScript "styles"}}
<style type="text/css">
    html, body { padding: 0; margin: 0; }
</style>
{{/addScript}}

<h3>Hello, {{ hello }}</h3>

{{> "list/item" rows=5 }}

{{#addScript "scripts"}}
<script type="text/javascript">
    console.log("hi");
</script>
{{/addScript}}