<form method="post" action="/auth/login">
    <input type="text" name="userId" placeholder="username"></br>
    <input type="password" name="userPwd" placeholder="password"></br>
    <button>Login</button>
</form>