<form method="post" action="/auth/register">
    <input type="text" name="userId" maxlength="100" placeholder="username"></br>
    <input type="password" name="userPwd" maxlength="16" placeholder="password"></br>
    <input type="password" name="userPwdChk" maxlength="16" placeholder="password check"></br>
    <input type="text" name="userNm" maxlength="100" placeholder="userNm"></br>
    <div>
        <input type="radio" name="userGender" value="1" checked="checked"/>남
        <input type="radio" name="userGender" value="2"/>여</br>
    </div>
    <button>Register</button>
</form>

{{#addScript "scripts"}}
<script type="text/javascript">
    const userId = document.querySelector('input[name="userId"]');
    const userPwd = document.querySelector('input[name="userPwd"]'); 
    const userPwdChk = document.querySelector('input[name="userPwdChk"]');
    
    userId.addEventListener("keyup", async function(e){
        e.preventDefault();
        const resp = await axios.post("/auth/dupl", {
            userId: e.target.value
        });
        console.log( resp );
    });

    userPwdChk.addEventListener("keyup", function(e){
        e.preventDefault();
        console.log( userPwd.value == e.target.value );
    });
    
</script>
{{/addScript}}